<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/whoami"><input type="submit" value=" Who am i "/></a>
<a href="/alert"><input type="submit" name ="button" value=" alert "/></a>
<p>{"firstname":Ahmet","lastname":"UÇAN"}</p>
</body>
</html>